html, body {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

body {
    background-color: $white-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
